.App {
    text-align: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

/* NavBar */

.logo {
    display: flex;
}

@media(max-width: 900px) {
    .logo {
        display: none;
    }
}

.navLink {
    margin: "10px 0";
    display: 'flex';
    font-size: "0.8rem";
    text-transform: "none";
    color: white;
    font-weight: "400";
    background-color: #192230;
    border: none;
    cursor: pointer;
}


/* Themes */

.skeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.light {
    background-color: #ffffff;
    color: #192230;
}

.dark {
    background-color: #192230;
    color: #ffffff;
}

/* Sections */

.inicioSection {
    height: 100vh;
    background-image: url("../../img/vision.jpg");
    background-size: cover;
    background-position: center;
}

.quem-somosSection {
    height: 900px;
    padding: 30px 30px
}

@media(max-width: 900px) {
    .quem-somosSection {
        height: 1800px;
    }
}

.planosSection {
    height: 1100px;
}

@media(max-width: 900px) {
    .planosSection {
        height: 1900px;
    }
}

.eyewalkSection {
    height: 600px;
    background-image: url("../../img/explore.jpg");
    background-size: cover;
    background-position: center;
}

.eyewalkMain {
    display: flex;
    align-items: center;
    padding: 30px 85px;
}