.bg-navBar {
    /* background-color: rgba(25, 34, 48, 92%); */
    transition: .5s;
}

.bg-navBar-active {
    background-color: rgba(25, 34, 48, 92%);
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .3);
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../../images/vision-cropped.jpg);
    background-position: right;
    background-size: cover;
    background-clip: border-box;
    color: #fff;
    cursor: pointer;
}

.hero-title {
    font-size: 8vmin;
    margin-bottom: 2rem;
}

.hero-text {
    font-size: 5vmin;
    margin-bottom: 2rem;
}

.hero-link {
    border: 1px solid var(--highLightColor);
    padding: 12px 30px;
    border-radius: 70px;
    background-color: var(--highLightColor);
    font-size: 3vmin;
    font-weight: 900;
    text-transform: uppercase;
    transition: .5s;
}

.hero-link:hover {
    background: transparent;
}

.explore {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0)), url(../../images/explore.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}

.border-eyewalk {
    border-color: #FFBB3F;
    border-color: var(--highLightColor);
}


.explore-title {
    margin-bottom: 20px;
    font-size: 6vmin;
}

.explore-text {
    width: 70%;
    font-size: 3vmin;
    margin-bottom: 2rem;
}

#planos .line {
    width: 30%;
}

.explore .btn:hover {
    color: var(--highLightColor);
    background-color: #fff;
    border-color: #fff;
}


.slide-bottom {
	-webkit-animation: slide-bottom 1000ms ease-out infinite alternate both;
	        animation: slide-bottom 1000ms ease-out infinite alternate both;
            cursor: pointer;
}

 @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              color: white;
    }
    100% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
              color: #FFBB3F;
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              color: white;
    }
    100% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
              color: #FFBB3F;
    }
  }