
.navLink {
    margin: "10px 0";
    display: 'flex';
    font-size: "0.8rem";
    text-transform: "none";
    color: white;
    font-weight: "400";
    background-color: #192230;
    border: none;
    cursor: pointer;
}

.navLinkComprar {
    display: 'flex';
    color: #FFBB3F;
    font-weight: "600";
    text-decoration: none;
    font-size: "0.8rem";
    margin: "10px 0";
}

.primaryBackground {
    background-color: #192230;
}

.highLightText {
    color: #FFBB3F;
}

.highLightButton {
    color: #192230;
    background-color: #FFBB3F;
}

.page {
    background-color: rgb(226, 226, 226);
}

.container-background {
    background-color: white;
}

.link {
    color: darkgray;
    text-decoration: none;
}

.link:hover {
    color: #FFBB3F;
}