@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --highLightColor: #FFBB3F;
    --primaryBackground: #192230;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    scrollbar-width: thin;
    overflow: overlay;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

a:hover {
    color: #FFBB3F;
    color: var(--highLightColor);
}

.text-highLight {
    color: #FFBB3F;
    color: var(--highLightColor);
}

.bg-primary {
    background-color: #192230 !important;
    background-color: var(--primaryBackground) !important;
    color: white;
}

.bg-button {
    background-color: #FFBB3F;
    background-color: var(--highLightColor);
    color: #000;
    outline: none;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 30px;
}

.bg-button:hover {
    background-color: #192230;
    background-color: var(--primaryBackground);
    color: #FFF;
}

.bg-button:active {
    background-color: #000 !important;
}

.highLightText {
    color: #FFBB3F;
}

.highLightButton {
    color: #192230;
    background-color: #FFBB3F;
}

.page {
    background-color: rgb(226, 226, 226);
}

.container-background {
    background-color: white;
}

.link {
    color: darkgray;
    text-decoration: none;
}

.link:hover {
    color: #FFBB3F;
}

.mh-100 {
    min-height: 100vh !important;
}

.line {
    width: 100%;
    height: 4px;
    background-color: var(--highLightColor);
    border-radius: 10px;
    margin-bottom: 30px;
    border: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: rgba(60, 60, 60);
    border-radius: 30px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}